.root {
    display: flex;
    justify-content: center;
}
.root__container {
    max-width: 800px;
    margin-top: 50vh;
}
.square {
    width: 8px;
    height: 8px;
    float: left;
    background: #ebedf0;
    margin: 2px;
    border: 1px solid #1b1f230f;
    border-radius: 1px;
}
.square_active {
    background: #009c30;
    border-color: #087101;
}