.root {
    display: flex;
    justify-content: center;
    background: #f9f9f9;
    margin: 0;
    font-family: Roboto;
}
.root__container {
    max-width: 800px;
    margin-top: 50vh;
    margin: 50vh 50px 0;
    transform: translate(0, -50%);
    border: 1px solid #1b1f230f;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px #e0e0e0;
    background: #ffffff;
}
.square {
    width: 8px;
    height: 8px;
    float: left;
    background: #ebedf0;
    margin: 2px;
    border: 1px solid #1b1f230f;
    border-radius: 1px;
}
.square_active {
    background: #03ad37;
    border-color: #098801;
}